html{
    background-color: #c7542a;
    color: white;
    display: flex;
    justify-content: center;
}
.content{
    width: 80vw;
    flex-grow: 1;
}
.header{
    padding: 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
a, a:visited{
    text-decoration: none;
    color: inherit;
}
.title{
    font-size: 48px;
    text-shadow: 3px 3px #202121;
}
/*header*/
.hl{
    width: 200px;
}
.crew{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}
/*h1*/
/*left*/
.h1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
    gap: 50px;
}
.welcome{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 auto;
}
h1, .info{
    text-align: center;
}
.join{
    font-family: consolas;
    background-color: #1f2f46;
    color: white;
    outline: none;
    border: 1px solid black;
    box-shadow: 0 8px #494b4b;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}
.join:active{
    box-shadow: 0 4px #111a23;
    transform: translateY(4px);
}
/*right*/
.img{
    display: flex;
    align-items: center;
}
.bebop{
    width: 40vw;
    border-radius: 5px;
}
.he1{
    background-color: black;
    border-radius: 5px;
}
/*crew members*/
.cm{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 80px;
    border-radius: 5px;
}
.members{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}
.photo{
    width: 10vw;
    border: 5px solid #0f1010;
    border-radius: 5px;
}
/*quote*/
.quote-container{
    background-color: #242526;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 80px;
    flex-grow: 1;
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.q{
    font-size: 36px;
    font-weight: lighter;
    margin: 0;

}
.ss{
    font-weight: bolder;
    right: 0;
    align-self: flex-end;
}
/*recruit*/
.recruit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
    padding: 20px 160px;
    background-color: #1f2f46;
    border-radius: 5px;
}
.hire{
    font-weight: bolder;
}
.hire-d{
    font-weight: lighter;
}
/*footer*/
.footer{
    background-color: black;
    padding: 20px 80px;
    border-radius: 5px;
    text-align: center;
}